@charset "UTF-8";
/* ╤Б╨▒╤А╨╛╤Б ╤Б╤В╨╕╨╗╨╡╨╣ ╨▒╤А╨░╤Г╨╖╨╡╤А╨░ */
* {
  box-sizing: border-box; }

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.2; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ol {
  padding-left: 1.4em;
  list-style: decimal; }

ul {
  padding-left: 1.4em;
  list-style: square; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* ╨║╨╛╨╜╨╡╤Ж ╨║╨╛╨┤╨░ ╤Б╨▒╤А╨╛╤Б╨░ ╤Б╤В╨╕╨╗╨╡╨╣ ╨▒╤А╨░╤Г╨╖╨╡╤А╨░ */
body {
  z-index: 1;
  background: url(../imgs/background_1.png);
  background-size: 100% auto; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1300px), only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 1300px), only screen and (-o-min-device-pixel-ratio: 2 / 1) and (min-width: 1300px), only screen and (min-device-pixel-ratio: 2) and (min-width: 1300px), only screen and (min-resolution: 192dpi) and (min-width: 1300px), only screen and (min-resolution: 2dppx) and (min-width: 1300px) {
    body {
      min-width: auto !important;
      background-position-x: center !important; } }
  @media all and (max-device-width: 1921px) and (min-device-width: 1920px) {
    body {
      min-width: 1900px; } }
  @media all and (max-width: 1921px) and (min-width: 1920px) {
    body {
      min-width: 1900px; } }
  @media all and (min-device-width: 1920px) and (max-device-width: 2880px) {
    body {
      background-size: cover;
      background-position-x: center; } }
  @media all and (min-width: 1920px) and (max-width: 2880px) {
    body {
      background-size: cover;
      background-position-x: center; } }
  @media all and (min-device-width: 1920px) and (max-device-width: 2880px) {
    body {
      background-size: cover;
      background-position-x: center; } }
  @media all and (min-width: 1920px) and (max-width: 2880px) {
    body {
      background-size: cover;
      background-position-x: center; } }
  @media all and (max-width: 349px) {
    body {
      background-size: 100% auto; } }
  @media all and (min-width: 350px) and (max-width: 500px) {
    body {
      background-size: 100% auto; } }
  @media all and (min-width: 501px) and (max-width: 690px) {
    body {
      background-size: 100% auto; } }
  @media all and (max-width: 769px) and (orientation: landscape) {
    body {
      background-size: 100% auto; } }
  @media all and (min-width: 691px) and (max-width: 768px) {
    body {
      background-size: 100% auto; } }
  @media all and (min-width: 769px) and (max-width: 1024px) {
    body {
      background-size: 100% auto; } }
  @media all and (min-width: 1025px) and (max-width: 1499px) {
    body {
      background-size: cover; } }
  @media all and (min-width: 1500px) and (max-width: 1919px) {
    body {
      background-size: cover; } }
  @media all and (max-width: 1024px) {
    body {
      background: url(../imgs/background_long21.png);
      background-size: 100% auto; } }
  body noscript {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 10px;
    background: #FFC400;
    z-index: 1000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    text-align: center; }
    @media all and (max-width: 1024px) {
      body noscript {
        padding: 15px 30px; } }
    @media all and (max-width: 700px) {
      body noscript {
        padding: 20px 15px; } }
    body noscript h1 {
      text-transform: uppercase;
      font-size: 22px; }
      @media all and (max-width: 1499px) {
        body noscript h1 {
          font-size: 20px; } }
      @media all and (max-width: 1024px) {
        body noscript h1 {
          font-size: 18px;
          padding-bottom: 10px; } }
      @media all and (max-width: 700px) {
        body noscript h1 {
          font-size: 20px;
          padding-bottom: 10px; } }
    body noscript p {
      font-size: 18px; }
      @media all and (max-width: 1499px) {
        body noscript p {
          font-size: 16px; } }
      @media all and (max-width: 1024px) {
        body noscript p {
          font-size: 14px; } }
      @media all and (max-width: 700px) {
        body noscript p {
          font-size: 16px; } }
  body #preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #333 url("http://files.mimoymima.com/images/loading.gif") no-repeat center center; }
  body .content-wrapper {
    min-height: calc(100vh - 227px); }
    @media all and (max-width: 349px) {
      body .content-wrapper {
        min-height: calc(100vh - 110px);
        min-width: 100%;
        width: 100%; } }
    @media all and (min-width: 350px) and (max-width: 500px) {
      body .content-wrapper {
        min-height: calc(100vh - 110px);
        min-width: 100%;
        width: 100%; } }
    @media all and (min-width: 501px) and (max-width: 690px) {
      body .content-wrapper {
        min-height: calc(100vh - 110px);
        min-width: 100%;
        width: 100%; } }
    @media all and (min-width: 691px) and (max-width: 768px) {
      body .content-wrapper {
        min-height: calc(100vh - 110px);
        min-width: 100%;
        width: 100%; } }
    @media all and (min-width: 769px) and (max-width: 1024px) {
      body .content-wrapper {
        min-width: 100%;
        width: 100%; } }
    @media all and (min-width: 1025px) and (max-width: 1499px) {
      body .content-wrapper {
        min-width: 100%;
        width: 100%; } }
    @media all and (min-width: 1500px) and (max-width: 1919px) {
      body .content-wrapper {
        min-width: 100%;
        width: 100%; } }
    body .content-wrapper header {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
      align-content: center; }
      body .content-wrapper header img.logo {
        margin: 61px 0 0 64px; }
        @media all and (max-width: 349px) {
          body .content-wrapper header img.logo {
            width: 104px;
            height: 86px;
            margin: 20px 0 0 40px; } }
        @media all and (min-width: 350px) and (max-width: 390px) {
          body .content-wrapper header img.logo {
            width: 134px;
            height: 96px;
            margin: 20px 0 0 40px; } }
        @media all and (min-width: 391px) and (max-width: 420px) {
          body .content-wrapper header img.logo {
            width: 134px;
            height: 96px;
            margin: 20px 0 0 60px; } }
        @media all and (min-width: 421px) and (max-width: 450px) {
          body .content-wrapper header img.logo {
            width: 134px;
            height: 96px;
            margin: 20px 0 0 70px; } }
        @media all and (min-width: 451px) and (max-width: 500px) {
          body .content-wrapper header img.logo {
            width: 134px;
            height: 96px;
            margin: 20px 0 0 80px; } }
        @media all and (min-width: 501px) and (max-width: 540px) {
          body .content-wrapper header img.logo {
            width: 140px;
            height: 100px;
            margin: 25px 0 0 30px; } }
        @media all and (min-width: 541px) and (max-width: 590px) {
          body .content-wrapper header img.logo {
            width: 150px;
            height: 105px;
            margin: 25px 0 0 40px; } }
        @media all and (min-width: 591px) and (max-width: 690px) {
          body .content-wrapper header img.logo {
            width: 200px;
            height: 146px;
            margin: 25px 0 0 60px; } }
        @media all and (min-width: 691px) and (max-width: 768px) {
          body .content-wrapper header img.logo {
            width: 228px;
            height: 167px;
            margin: 45px 0 0 80px; } }
        @media all and (min-width: 769px) and (max-width: 830px) {
          body .content-wrapper header img.logo {
            width: 228px;
            height: 167px;
            margin: 45px 0 0 100px; } }
        @media all and (min-width: 831px) and (max-width: 930px) {
          body .content-wrapper header img.logo {
            width: 228px;
            height: 167px;
            margin: 45px 0 0 130px; } }
        @media all and (min-width: 931px) and (max-width: 1024px) {
          body .content-wrapper header img.logo {
            width: 250px;
            height: 177px;
            margin: 60px 0 0 170px; } }
        @media all and (min-width: 1025px) and (max-width: 1499px) {
          body .content-wrapper header img.logo {
            width: 180px;
            height: 133px;
            margin: 43px 0 0 45px; } }
        @media all and (min-width: 1500px) and (max-width: 1919px) {
          body .content-wrapper header img.logo {
            margin: 55px 0 0 64px; } }
      body .content-wrapper header img.header-text {
        margin: 52px 65px 0 0; }
        @media all and (max-width: 349px) {
          body .content-wrapper header img.header-text {
            width: 250px;
            height: 55px;
            margin: -15px 0 0 40px; } }
        @media all and (min-width: 350px) and (max-width: 390px) {
          body .content-wrapper header img.header-text {
            width: 280px;
            height: 60px;
            margin: -20px 0 0 60px; } }
        @media all and (min-width: 391px) and (max-width: 420px) {
          body .content-wrapper header img.header-text {
            width: 280px;
            height: 60px;
            margin: -25px 0 0 90px; } }
        @media all and (min-width: 421px) and (max-width: 450px) {
          body .content-wrapper header img.header-text {
            width: 280px;
            height: 60px;
            margin: -25px 0 0 100px; } }
        @media all and (min-width: 451px) and (max-width: 500px) {
          body .content-wrapper header img.header-text {
            width: 280px;
            height: 60px;
            margin: -25px 0 0 120px; } }
        @media all and (min-width: 501px) and (max-width: 540px) {
          body .content-wrapper header img.header-text {
            width: 420px;
            height: 77px;
            margin: -30px 0 0 50px; } }
        @media all and (min-width: 541px) and (max-width: 590px) {
          body .content-wrapper header img.header-text {
            width: 470px;
            height: 85px;
            margin: -30px 0 0 60px; } }
        @media all and (min-width: 591px) and (max-width: 640px) {
          body .content-wrapper header img.header-text {
            width: 510px;
            height: 90px;
            margin: -30px 0 0 60px; } }
        @media all and (min-width: 641px) and (max-width: 690px) {
          body .content-wrapper header img.header-text {
            width: 540px;
            height: 100px;
            margin: -30px 0 0 90px; } }
        @media all and (min-width: 691px) and (max-width: 768px) {
          body .content-wrapper header img.header-text {
            width: 560px;
            height: 110px;
            margin: -40px 0 0 130px; } }
        @media all and (min-width: 769px) and (max-width: 830px) {
          body .content-wrapper header img.header-text {
            width: 560px;
            height: 110px;
            margin: -40px 0 0 150px; } }
        @media all and (min-width: 831px) and (max-width: 930px) {
          body .content-wrapper header img.header-text {
            width: 560px;
            height: 110px;
            margin: -40px 0 0 180px; } }
        @media all and (min-width: 931px) and (max-width: 1024px) {
          body .content-wrapper header img.header-text {
            width: 600px;
            height: 112px;
            margin: -40px 0 0 230px; } }
        @media all and (min-width: 1025px) and (max-width: 1499px) {
          body .content-wrapper header img.header-text {
            width: 393px;
            height: 77px;
            margin: 37px 46px 0 0; } }
        @media all and (min-width: 1500px) and (max-width: 1919px) {
          body .content-wrapper header img.header-text {
            margin: 52px 65px 0 0; } }

@font-face {
  font-family: "PTSansRegular";
  src: url("../fonts/PTSansRegular/PTSansRegular.eot");
  src: url("../fonts/PTSansRegular/PTSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSansRegular/PTSansRegular.woff") format("woff"), url("../fonts/PTSansRegular/PTSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "PTSansItalic";
  src: url("../fonts/PTSansItalic/PTSansItalic.eot");
  src: url("../fonts/PTSansItalic/PTSansItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSansItalic/PTSansItalic.woff") format("woff"), url("../fonts/PTSansItalic/PTSansItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "PTSansBold";
  src: url("../fonts/PTSansBold/PTSansBold.eot");
  src: url("../fonts/PTSansBold/PTSansBold.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSansBold/PTSansBold.woff") format("woff"), url("../fonts/PTSansBold/PTSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
section .top-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin: 29% 0 102px 10%;
  /* 
  @media all and (max-width: 349px){
      width: 75%;
      margin: 45% auto 0 auto !important;
  }
  @media all and (min-width: 350px) and (max-width: 500px){
      width: 75%;
      margin: 45% auto 0 auto !important;
  }
  @media all and (min-width: 501px) and (max-width: 690px){
      width: 75%;
      margin: 28% auto 0 auto !important;
  }
  @media all and (min-width: 691px) and (max-width: 768px){
      width: 75%;
      margin: 28% auto 0 auto !important;
  } */ }
  @media all and (min-device-width: 1921px) and (max-device-width: 1931px) and (min-width: 1921px) and (max-width: 1931px) {
    section .top-btns {
      margin-top: 29%; } }
  @media all and (min-device-width: 1932px) and (max-device-width: 2028px) and (min-width: 1932px) and (max-width: 2028px) {
    section .top-btns {
      margin-top: 29.5%; } }
  @media all and (min-device-width: 2029px) and (max-device-width: 2129px) and (min-width: 2029px) and (max-width: 2129px) {
    section .top-btns {
      margin-top: 30%; } }
  @media all and (min-device-width: 2130px) and (max-device-width: 2279px) and (min-width: 2130px) and (max-width: 2279px) {
    section .top-btns {
      margin-top: 30.5%;
      margin-left: 10%; } }
  @media all and (min-device-width: 2280px) and (max-device-width: 2429px) and (min-width: 2280px) and (max-width: 2429px) {
    section .top-btns {
      margin-top: 31.5%;
      margin-left: 11%; } }
  @media all and (min-device-width: 2430px) and (max-device-width: 2499px) and (min-width: 2430px) and (max-width: 2499px) {
    section .top-btns {
      margin-top: 32%;
      margin-left: 11%; } }
  @media all and (min-device-width: 2500px) and (max-device-width: 2639px) and (min-width: 2500px) and (max-width: 2639px) {
    section .top-btns {
      margin-top: 32.5%;
      margin-left: 12%; } }
  @media all and (min-device-width: 2640px) and (max-device-width: 2740px) and (min-width: 2640px) and (max-width: 2740px) {
    section .top-btns {
      margin-top: 33%;
      margin-left: 12%; } }
  @media all and (min-device-width: 2741px) and (max-device-width: 2800px) and (min-width: 2741px) and (max-width: 2800px) {
    section .top-btns {
      margin-top: 33.5%;
      margin-left: 12%; } }
  @media all and (min-device-width: 2801px) and (max-device-width: 2880px) and (min-width: 2801px) and (max-width: 2880px) {
    section .top-btns {
      margin-top: 34%;
      margin-left: 12%; } }
  @media all and (max-width: 640px) and (orientation: portrait) {
    section .top-btns {
      margin: 35% 0 0 5% !important; } }
  @media all and (max-width: 1024px) {
    section .top-btns {
      display: none; } }
  @media all and (min-width: 769px) and (max-width: 1024px) {
    section .top-btns {
      width: 28%;
      margin: 26% 0 0 5%; } }
  @media all and (min-width: 1025px) and (max-width: 1159px) {
    section .top-btns {
      width: 285px;
      margin: 25% 0 102px 7%; } }
  @media all and (min-width: 1160px) and (max-width: 1299px) {
    section .top-btns {
      width: 285px;
      margin: 27% 0 102px 8%; } }
  @media all and (min-width: 1300px) and (max-width: 1499px) {
    section .top-btns {
      width: 285px;
      margin: 29% 0 102px 9%; } }
  @media all and (min-width: 1500px) and (max-width: 1649px) {
    section .top-btns {
      width: 400px;
      margin: 25% 0 102px 7%; } }
  @media all and (min-width: 1650px) and (max-width: 1749px) {
    section .top-btns {
      width: 400px;
      margin: 27% 0 102px 8%; } }
  @media all and (min-width: 1750px) and (max-width: 1919px) {
    section .top-btns {
      width: 400px;
      margin: 28% 0 102px 8%; } }
  section .top-btns button {
    background-color: transparent;
    border: none;
    outline: 0px solid; }
    @media all and (max-width: 349px) {
      section .top-btns button {
        margin: 0 2%; } }
    @media all and (min-width: 350px) and (max-width: 500px) {
      section .top-btns button {
        margin: 0 2%; } }
    section .top-btns button img {
      outline: 0px solid;
      margin: 0 16px 0 16px; }
      @media all and (max-width: 349px) {
        section .top-btns button img {
          width: 70%;
          height: 70%;
          margin: 0 1% 0 1%; } }
      @media all and (min-width: 350px) and (max-width: 500px) {
        section .top-btns button img {
          width: 70%;
          height: 70%;
          margin: 0 1% 0 1%; } }
      @media all and (min-width: 501px) and (max-width: 690px) {
        section .top-btns button img {
          width: 50%;
          height: 85%;
          margin: 0 1% 0 1%; } }
      @media all and (min-width: 691px) and (max-width: 768px) {
        section .top-btns button img {
          width: 50%;
          height: 85%;
          margin: 0 1% 0 1%; } }
      @media all and (min-width: 769px) and (max-width: 1024px) {
        section .top-btns button img {
          width: 85%;
          height: 85%;
          margin: 0 1% 0 1%; } }
      @media all and (min-width: 1025px) and (max-width: 1499px) {
        section .top-btns button img {
          width: 75px;
          height: 71px;
          margin: 0 11px 0 11px; } }
      @media all and (min-width: 1500px) and (max-width: 1919px) {
        section .top-btns button img {
          margin: 0 11px 0 11px; } }

main {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media all and (max-width: 349px) {
    main {
      margin: 55% 0 2% 0;
      padding: 10% 0; } }
  @media all and (min-width: 350px) and (max-width: 540px) {
    main {
      margin: 75% 0 2% 0; } }
  @media all and (min-width: 541px) and (max-width: 690px) {
    main {
      margin: 65% 0 2% 0; } }
  @media all and (min-width: 691px) and (max-width: 768px) {
    main {
      margin: 55% 0 2% 0;
      padding: 10% 0 5% 0; } }
  @media all and (min-width: 769px) and (max-width: 1024px) {
    main {
      margin: 55% 0 5% 0;
      padding: 10% 0 5% 0; } }
  main .text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 335px 0 228px; }
    @media all and (min-device-width: 1921px) and (max-device-width: 1991px) and (min-width: 1921px) and (max-width: 1991px) {
      main .text {
        /* margin-right: 18%; */ } }
    @media all and (min-device-width: 1992px) and (max-device-width: 2130px) and (min-width: 1992px) and (max-width: 2130px) {
      main .text {
        /* margin-right: 16.5%; */ } }
    @media all and (min-device-width: 2131px) and (max-device-width: 2330px) and (min-width: 2131px) and (max-width: 2330px) {
      main .text {
        /* margin-right: 15.5%; */ } }
    @media all and (min-device-width: 2331px) and (max-device-width: 2530px) and (min-width: 2331px) and (max-width: 2530px) {
      main .text {
        /* margin-right: 14.5% */ } }
    @media all and (min-device-width: 2531px) and (max-device-width: 2730px) and (min-width: 2531px) and (max-width: 2730px) {
      main .text {
        /*  margin-right: 12%; */ } }
    @media all and (min-device-width: 2731px) and (max-device-width: 2880px) and (min-width: 2731px) and (max-width: 2880px) {
      main .text {
        /*  margin-right: 12%; */ } }
    @media all and (max-width: 349px) {
      main .text {
        padding: 0 2%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        min-height: 976px; } }
    @media all and (min-width: 350px) and (max-width: 500px) {
      main .text {
        padding: 0 2%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        min-height: 962px; } }
    @media all and (min-width: 501px) and (max-width: 690px) {
      main .text {
        padding: 0 2%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 785px; } }
    @media all and (min-width: 691px) and (max-width: 768px) {
      main .text {
        padding: 0 5%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 850px; } }
    @media all and (min-width: 769px) and (max-width: 1024px) {
      main .text {
        padding: 0 7%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 1240px; } }
    @media all and (min-width: 1025px) and (max-width: 1345px) {
      main .text {
        padding: 0 230px 0 160px; } }
    @media all and (min-width: 1346px) and (max-width: 1499px) {
      main .text {
        padding: 0 200px 0 130px; } }
    @media all and (min-width: 1500px) and (max-width: 1919px) {
      main .text {
        padding: 0 17.5% 0 12%; } }
    main .text img.boss {
      margin: 94px 55px 0 0; }
      @media all and (max-width: 349px) {
        main .text img.boss {
          width: 50%;
          height: 50%;
          margin: 20px auto; } }
      @media all and (min-width: 350px) and (max-width: 500px) {
        main .text img.boss {
          width: 50%;
          height: 50%;
          margin: 20px auto; } }
      @media all and (min-width: 501px) and (max-width: 690px) {
        main .text img.boss {
          width: 27.5%;
          height: 30%;
          margin: 20px auto; } }
      @media all and (min-width: 691px) and (max-width: 768px) {
        main .text img.boss {
          width: 27.5%;
          height: 30%;
          margin: 20px auto; } }
      @media all and (min-width: 769px) and (max-width: 1024px) {
        main .text img.boss {
          width: 27.5%;
          height: 30%;
          margin: 20px auto; } }
      @media all and (min-width: 1025px) and (max-width: 1499px) {
        main .text img.boss {
          min-width: 212px;
          width: 212px;
          height: 230px;
          margin: 67px 39px 0 0; } }
      @media all and (min-width: 1500px) and (max-width: 1919px) {
        main .text img.boss {
          width: 22.5%;
          height: 24.5%;
          margin: 7% 4% 0 0; } }
    main .text div.back-text {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-content: space-between;
      background: url(../imgs/567.png);
      background-size: cover;
      min-width: 1004px;
      width: 1004px;
      height: 936px;
      padding: 36px 29px 36px 30px;
      font-size: 24px;
      text-indent: 35px;
      /* @media all and (min-device-width: 350px) and (max-device-width: 700px) and (orientation: portrait){
          height: 1380px;
          align-items: center;
          background-size: 100% 100%;
      }
      @media all and (min-device-width: 350px) and (max-device-width: 700px) and (orientation: landscape){
          height: 900px;
          align-items: center;
          background-size: 100% 100%;
      }
      @media all and (min-device-width: 701px) and (max-device-width: 1024px) and (orientation: portrait){
          height: 1200px;
          align-items: center;
          background-size: 100% 100%;
      }
      @media all and (min-device-width: 701px) and (max-device-width: 1024px) and (orientation: landscape){
          height: 1000px;
          align-items: center;
          background-size: 100% 100%;
      } */
     /*            div.txt {
                    width: 945px;
                    padding: 36px 29px 30px 4px;
                    margin: 0;
                    font-size: 24px;
                    text-indent: 35px;
    
                    @media all and (max-width: 349px){
                        min-width: 300px;
                        max-width: 349px;
                        width: 100%;
                        height: auto;
                        padding: 5px 10px !important;
                        text-align: center;
                    }
                    @media all and (min-width: 350px) and (max-width: 500px){
                        min-width: 350px;
                        max-width: 500px;
                        width: 100%;
                        height: auto;
                        padding: 5px 10px !important;
                        text-align: center;
                    }
                    @media all and (max-width: 899px){
                        width: 100%;
                        padding: 0;
                        font-size: 12px;
                        text-indent: 25px;
                    }
                    @media all and (min-width: 900px) and (max-width: 1024px){
                        width: 100%;
                        padding: 0;
                        font-size: 18px;
                        text-indent: 25px;
                    }
                    @media all and (min-width: 1025px) and (max-width: 1345px){
                        width: 100%;
                        height: 665px;
                        padding: 10px 0;
                        font-size: 16px;
                        text-indent: 20px;
                    }
                    @media all and (min-width: 1025px) and (max-width: 1700px) and (-ms-high-contrast: active), (-ms-high-contrast: none){
                        font-size: 17px;
                    }
                    @media all and (min-width: 1346px) and (max-width: 1499px){
                        width: 100%;
                        font-size: 18px;
                        text-indent: 25px;
                        padding-top: 10px;
                    } */
      /* } */ }
      @media all and (max-width: 349px) {
        main .text div.back-text {
          min-width: 300px;
          max-width: 349px;
          width: 100%;
          height: auto;
          padding: 20px 15px;
          text-align: center; } }
      @media all and (min-width: 350px) and (max-width: 500px) {
        main .text div.back-text {
          min-width: 350px;
          max-width: 500px;
          width: 100%;
          height: auto;
          padding: 30px 15px;
          text-align: center;
          background: url(../imgs/567_long.png);
          background-size: 100% 100%; } }
      @media all and (min-width: 501px) and (max-width: 690px) {
        main .text div.back-text {
          background: url(../imgs/567_long.png);
          min-width: 500px;
          width: 100%;
          height: auto;
          padding: 30px 30px;
          text-align: center;
          background-size: 100% 100%; } }
      @media all and (min-width: 691px) and (max-width: 768px) {
        main .text div.back-text {
          min-width: 500px;
          width: 100%;
          height: auto;
          padding: 35px 30px;
          text-align: center;
          background-size: 100% 100%; } }
      @media all and (max-width: 768px) {
        main .text div.back-text {
          font-size: 12px;
          text-indent: 25px; } }
      @media all and (min-width: 769px) and (max-width: 1024px) {
        main .text div.back-text {
          min-width: 500px;
          width: 100%;
          padding: 30px 30px;
          text-align: center;
          background-size: 100% 100%;
          font-size: 18px; } }
      @media all and (min-width: 1025px) and (max-width: 1345px) {
        main .text div.back-text {
          min-width: 713px;
          max-height: 665px;
          padding: 14px 21px;
          text-align: center;
          background-size: 100% 100%;
          font-size: 16px;
          text-indent: 20px; } }
      @media all and (min-width: 1346px) and (max-width: 1499px) {
        main .text div.back-text {
          min-width: 713px;
          max-width: 100%;
          max-height: 750px;
          padding: 21px 21px;
          text-align: center;
          background-size: 100% 100%;
          font-size: 18px;
          text-indent: 25px; } }
      @media all and (min-width: 1500px) and (max-width: 1919px) {
        main .text div.back-text {
          min-width: 1004px;
          height: 936px; } }
      main .text div.back-text h1 {
        width: 100%;
        object-fit: contain;
        font-family: PTSans;
        text-indent: 0 !important;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #000000;
        padding-bottom: 14px; }
      main .text div.back-text p {
        object-fit: contain;
        font-family: PTSans;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: unset;
        letter-spacing: normal;
        text-align: justify;
        color: #000000;
        width: 945px;
        /* @media all and (min-width: 769px) and (max-width: 1024px){
            width: 100%;
        }
        @media all and (min-width: 691px) and (max-width: 768px){
            width: 100%;
        } */ }
        @media all and (min-width: 1346px) and (max-width: 1499px) {
          main .text div.back-text p {
            width: 94%; } }
        @media all and (min-width: 1025px) and (max-width: 1345px) {
          main .text div.back-text p {
            width: 660px; } }
        @media all and (max-width: 1024px) {
          main .text div.back-text p {
            width: 100%; } }
        @media all and (max-width: 500px) {
          main .text div.back-text p {
            margin-bottom: 10px; } }
      main .text div.back-text h2 {
        width: 100%;
        object-fit: contain;
        font-family: PTSans;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: justify;
        color: #000000;
        padding-top: 44px;
        padding-bottom: 34px; }
        @media all and (max-width: 500px) {
          main .text div.back-text h2 {
            padding: 20px 0 14px 0; } }
        @media all and (min-width: 1025px) and (max-width: 1345px) {
          main .text div.back-text h2 {
            padding: 24px 0 14px 0; } }
        @media all and (min-width: 1346px) and (max-width: 1499px) {
          main .text div.back-text h2 {
            padding: 34px 0 24px 0; } }
      main .text div.back-text h3 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        object-fit: contain;
        font-family: PTSans;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: justify;
        color: #000000;
        padding-top: 14px;
        padding-bottom: 14px;
        text-indent: 0; }
        @media all and (max-width: 1345px) {
          main .text div.back-text h3 {
            max-width: 660px; } }
        main .text div.back-text h3 #left {
          text-align: left; }
        main .text div.back-text h3 #right {
          text-align: right;
          text-indent: 0;
          margin-right: 180px; }
          @media all and (max-width: 1024px) {
            main .text div.back-text h3 #right {
              margin-right: 80px; } }
          @media all and (max-width: 540px) {
            main .text div.back-text h3 #right {
              margin-right: 40px; } }
      @media all and (max-width: 349px) {
        main .text div.back-text img {
          margin: 0 auto;
          width: 100%;
          height: 100%; } }
      @media all and (min-width: 350px) and (max-width: 500px) {
        main .text div.back-text img {
          margin: 0 auto;
          width: 100%;
          height: 100%; } }
      @media all and (min-width: 501px) and (max-width: 690px) {
        main .text div.back-text img {
          margin: 0 auto;
          width: 100%;
          height: 100%; } }
      @media all and (min-width: 691px) and (max-width: 768px) {
        main .text div.back-text img {
          margin: 0 auto;
          width: 100%;
          height: 100%; } }
      @media all and (min-width: 769px) and (max-width: 1024px) {
        main .text div.back-text img {
          margin: 0 auto;
          width: 100%;
          height: 100%; } }
      @media all and (min-width: 1025px) and (max-width: 1499px) {
        main .text div.back-text img {
          margin: 0 auto;
          width: 671px;
          height: 620px; } }
  main .text-about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 248px; }
    @media all and (max-width: 349px) {
      main .text-about {
        padding: 0 2%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        margin-bottom: 30px; } }
    @media all and (min-width: 350px) and (max-width: 500px) {
      main .text-about {
        padding: 0 2%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        margin-bottom: 30px; } }
    @media all and (min-width: 501px) and (max-width: 690px) {
      main .text-about {
        padding: 0 2%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0; } }
    @media all and (min-width: 691px) and (max-width: 768px) {
      main .text-about {
        padding: 0 5%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0; } }
    @media all and (min-width: 769px) and (max-width: 1024px) {
      main .text-about {
        padding: 0 7%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0; } }
    @media all and (min-width: 1025px) and (max-width: 1345px) {
      main .text-about {
        padding: 0;
        margin-left: 176px; } }
    @media all and (min-width: 1346px) and (max-width: 1499px) {
      main .text-about {
        padding: 0;
        margin-left: 176px; } }
    @media all and (min-width: 1500px) and (max-width: 1919px) {
      main .text-about {
        padding: 0; } }
    main .text-about .back-text-about {
      margin-top: 65px;
      background: url(../imgs/567.png);
      width: 1004px;
      min-width: 1004px;
      height: 936px;
      display: flex;
      justify-content: center; }
      @media all and (max-width: 349px) {
        main .text-about .back-text-about {
          min-width: 300px;
          max-width: 349px;
          width: 100%;
          height: 400px;
          padding: 20px 10px;
          text-align: center; } }
      @media all and (min-width: 350px) and (max-width: 500px) {
        main .text-about .back-text-about {
          min-width: 350px;
          max-width: 500px;
          width: 100%;
          height: 400px;
          padding: 30px 10px;
          text-align: center;
          background-size: 100% 100%; } }
      @media all and (min-width: 501px) and (max-width: 690px) {
        main .text-about .back-text-about {
          min-width: 500px;
          width: 100%;
          height: 500px;
          padding: 30px 30px;
          text-align: center;
          background-size: 100% 100%; } }
      @media all and (min-width: 691px) and (max-width: 768px) {
        main .text-about .back-text-about {
          min-width: 500px;
          width: 100%;
          height: 500px;
          max-height: 768px;
          padding: 35px 30px;
          text-align: center;
          background-size: 100% 100%; } }
      @media all and (min-width: 769px) and (max-width: 1024px) {
        main .text-about .back-text-about {
          min-width: 500px;
          width: 100%;
          height: 600px;
          padding: 50px 30px;
          text-align: center;
          background-size: 100% 100%; } }
      @media all and (min-width: 1025px) and (max-width: 1345px) {
        main .text-about .back-text-about {
          min-width: 713px;
          width: 768px;
          height: 635px;
          padding: 14px 21px;
          text-align: center;
          background-size: 100% 100%; } }
      @media all and (min-width: 1346px) and (max-width: 1499px) {
        main .text-about .back-text-about {
          min-width: 713px;
          max-width: 768px;
          height: 590px;
          padding: 21px 21px;
          text-align: center;
          background-size: 100% 100%; } }
      @media all and (min-width: 1500px) and (max-width: 1919px) {
        main .text-about .back-text-about {
          min-width: 1004px;
          height: 936px;
          padding: 0; } }
      main .text-about .back-text-about .about {
        width: 945px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center; }
        main .text-about .back-text-about .about p {
          object-fit: contain;
          font-family: PTSans;
          font-size: 44px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: justify;
          color: #000000;
          padding-bottom: 14px;
          width: 100%;
          text-align: center; }
          @media all and (max-width: 1280px) {
            main .text-about .back-text-about .about p {
              font-size: 38px; } }
          @media all and (max-width: 920px) {
            main .text-about .back-text-about .about p {
              font-size: 32px; } }
          @media all and (max-width: 767px) {
            main .text-about .back-text-about .about p {
              font-size: 26px; } }
          @media all and (max-width: 500px) {
            main .text-about .back-text-about .about p {
              font-size: 24px; } }
  main .main-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 248px;
    margin-top: 68px;
    max-width: 100%; }
    @media all and (max-width: 349px) {
      main .main-btns {
        max-width: 349px;
        width: 100%;
        margin: 25px auto 0 auto;
        flex-direction: column; } }
    @media all and (min-width: 350px) and (max-width: 540px) {
      main .main-btns {
        max-width: 500px;
        width: 100%;
        margin: 30px auto 0 auto;
        flex-direction: column; } }
    @media all and (min-width: 541px) and (max-width: 690px) {
      main .main-btns {
        max-width: 690px;
        width: 100%;
        margin: 70px auto 0 auto; } }
    @media all and (min-width: 691px) and (max-width: 768px) {
      main .main-btns {
        margin: 70px auto 0 auto; } }
    @media all and (min-width: 769px) and (max-width: 1024px) {
      main .main-btns {
        margin: 70px auto 0 auto; } }
    @media all and (min-width: 1025px) and (max-width: 1499px) {
      main .main-btns {
        margin: 48px 0 0 176px; } }
    main .main-btns button {
      background-color: transparent;
      border: none;
      margin: 0 20px 0 20px;
      outline: 0px solid;
      outline-color: transparent;
      /* @media all and (max-width: 349px){
          width: 60%;
          margin: 2% auto;
      }
      @media all and (min-width: 350px) and (max-width: 500px){
          width: 60%;
          margin: 2% auto;
      }
      @media all and (min-width: 501px) and (max-width: 690px){
          width: 230px;
          margin: 0 auto;
      }
      @media all and (min-width: 691px) and (max-width: 768px){
          width: 230px;
          margin: 0 auto;
      }
      @media all and (min-width: 769px) and (max-width: 1024px){
          width: 230px;
          margin: 0 auto;
      }
      @media all and (min-width: 1025px) and (max-width: 1499px){
          margin: 0 14px 0 14px
      }
      @media all and (min-width: 1500px) and (max-width: 1919px){
          
      } */ }
      main .main-btns button img {
        filter: opacity(100%); }
      main .main-btns button img:hover {
        filter: opacity(90%); }
    main .main-btns button:focus {
      outline: 0px solid;
      outline-color: transparent; }
    main .main-btns button:hover {
      cursor: pointer; }
    @media all and (max-width: 349px) {
      main .main-btns button.contacts img, main .main-btns button.recourse img {
        width: 168px;
        height: 90px; } }
    @media all and (min-width: 350px) and (max-width: 540px) {
      main .main-btns button.contacts img, main .main-btns button.recourse img {
        width: 212px;
        height: 113px; } }
    @media all and (min-width: 541px) and (max-width: 690px) {
      main .main-btns button.contacts img, main .main-btns button.recourse img {
        width: 130px;
        height: 75px; } }
    @media all and (min-width: 691px) and (max-width: 768px) {
      main .main-btns button.contacts img, main .main-btns button.recourse img {
        width: 174px;
        height: 93px; } }
    @media all and (min-width: 769px) and (max-width: 1024px) {
      main .main-btns button.contacts img, main .main-btns button.recourse img {
        width: 174px;
        height: 93px; } }
    @media all and (min-width: 1025px) and (max-width: 1499px) {
      main .main-btns button.contacts img, main .main-btns button.recourse img {
        width: 210px;
        height: 110px; } }
    @media all and (max-width: 349px) {
      main .main-btns button.competition img {
        width: 168px;
        height: 128px; } }
    @media all and (min-width: 350px) and (max-width: 540px) {
      main .main-btns button.competition img {
        width: 212px;
        height: 161px; } }
    @media all and (min-width: 541px) and (max-width: 690px) {
      main .main-btns button.competition img {
        width: 160px;
        height: 117px; } }
    @media all and (min-width: 691px) and (max-width: 768px) {
      main .main-btns button.competition img {
        width: 196px;
        height: 149px; } }
    @media all and (min-width: 769px) and (max-width: 1024px) {
      main .main-btns button.competition img {
        width: 196px;
        height: 149px; } }
    @media all and (min-width: 1025px) and (max-width: 1499px) {
      main .main-btns button.competition img {
        width: 220px;
        height: 170px; } }

/* COMPETITION PAGE */
.main-container {
  width: 100%;
  height: 1080px;
  background: url(../imgs/background.png);
  background-position-y: bottom;
  text-align: center; }
  .main-container .table {
    width: 628px;
    height: 386px;
    /* background: url(../imgs/table.png);
    background-size: 100% 100%; */
    z-index: 1000; }
  .main-container .logo {
    position: absolute;
    top: -320px;
    left: 752px;
    width: 416px;
    height: 305px;
    background: url(../imgs/competition_logo.png);
    background-size: 100% 100%; }
  .main-container #start {
    position: absolute;
    top: 800px;
    left: 530px;
    opacity: 0; }
    .main-container #start h1 {
      color: #1BA801;
      font-size: 152px;
      text-transform: uppercase; }
  .main-container #question {
    position: absolute;
    top: 430px;
    left: 734px; }
    .main-container #question h2 {
      color: #EB200E;
      font-size: 128px; }
  .main-container #but {
    opacity: 0;
    position: absolute;
    top: 430px;
    left: 851px; }
    .main-container #but h3 {
      color: #AC1600;
      font-size: 96px; }
  .main-container #ufr {
    position: absolute;
    font-weight: bold;
    top: 600px;
    left: 600px;
    opacity: 0; }
    .main-container #ufr p {
      color: #2A1F1A;
      font-size: 68px;
      /* animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 10s both;
      @include keyframes(text-focus-in){
      0% {
          filter: blur(12px);
          opacity: 0;
      }
      100% {
          filter: blur(0px);
          opacity: 1;
      } */ }
  .main-container #money {
    position: absolute;
    top: -400px;
    left: 40px;
    background: url(../imgs/money.png);
    background-repeat: no-repeat;
    background-size: 100% auto; }
  .main-container #time {
    position: absolute;
    top: -400px;
    right: 40px;
    background: url(../imgs/time.png);
    background-repeat: no-repeat;
    background-size: 100% auto; }
  .main-container #team {
    position: absolute;
    top: -400px;
    left: 638px;
    background: url(../imgs/team.png);
    background-repeat: no-repeat;
    background-size: 100% auto; }

footer {
  background: url(../imgs/footer_3x.png);
  height: 227px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: -15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }
  @media all and (max-width: 349px) {
    footer {
      height: 250px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      align-content: flex-end;
      background-position-y: bottom;
      background-size: 100% 70%; } }
  @media all and (min-width: 350px) and (max-width: 500px) {
    footer {
      height: 250px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      align-content: flex-end;
      background-position-y: bottom;
      background-size: 100% 70%; } }
  @media all and (min-width: 501px) and (max-width: 690px) {
    footer {
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      align-content: flex-end;
      background-position-y: bottom;
      background-size: 100% 70%; } }
  @media all and (min-width: 691px) and (max-width: 768px) {
    footer {
      height: 350px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      align-content: flex-end;
      background-position-y: bottom;
      background-size: 100% 70%; } }
  @media all and (min-width: 769px) and (max-width: 1024px) {
    footer {
      height: 350px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      align-content: flex-end;
      background-position-y: bottom;
      background-size: 100% 75%; } }
  @media all and (min-width: 1025px) and (max-width: 1389px) {
    footer {
      height: 200px;
      background-size: 100% auto; } }
  @media all and (min-width: 1390px) and (max-width: 1499px) {
    footer {
      background-size: 100% auto; } }
  @media all and (min-width: 1500px) and (max-width: 1919px) {
    footer {
      background-size: 100% auto; } }
  @media all and (min-width: 1921px) and (max-width: 2200px) {
    footer {
      height: 250px;
      background-size: 100% auto; } }
  @media all and (min-width: 2201px) and (max-width: 2379px) {
    footer {
      height: 280px;
      background-size: 100% auto; } }
  @media all and (min-width: 2380px) and (max-width: 2880px) {
    footer {
      height: 330px;
      background-size: 100% auto; } }
  footer .copy {
    text-transform: uppercase;
    color: #fff;
    font-size: 28px;
    padding: 23px 10px; }
    @media all and (max-width: 349px) {
      footer .copy {
        order: 2;
        width: 100%;
        text-align: center;
        padding: 10px 0;
        font-size: 20px; } }
    @media all and (min-width: 350px) and (max-width: 500px) {
      footer .copy {
        order: 2;
        width: 100%;
        text-align: center;
        padding: 10px 0;
        font-size: 20px; } }
    @media all and (min-width: 501px) and (max-width: 690px) {
      footer .copy {
        order: 2;
        width: 100%;
        text-align: center;
        padding: 20px 0;
        font-size: 20px; } }
    @media all and (min-width: 691px) and (max-width: 768px) {
      footer .copy {
        order: 2;
        width: 100%;
        text-align: center;
        padding: 30px 0;
        font-size: 24px; } }
    @media all and (min-width: 769px) and (max-width: 1024px) {
      footer .copy {
        order: 2;
        width: 100%;
        text-align: center;
        padding: 30px 0;
        font-size: 24px; } }
    @media all and (min-width: 1025px) and (max-width: 1389px) {
      footer .copy {
        padding: 30px 10px; } }
    @media all and (min-width: 1390px) and (max-width: 1499px) {
      footer .copy {
        padding: 30px 10px; } }
    @media all and (min-width: 1500px) and (max-width: 1800px) {
      footer .copy {
        padding: 30px 10px; } }
    @media all and (min-width: 1921px) and (max-width: 2200px) {
      footer .copy {
        padding: 30px 20px; } }
    @media all and (min-width: 2201px) and (max-width: 2379px) {
      footer .copy {
        padding: 30px 30px; } }
    @media all and (min-width: 2380px) and (max-width: 2880px) {
      footer .copy {
        padding: 50px 30px; } }
    footer .copy p {
      font-family: PTSans; }
  footer .links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
    padding: 15px 10px;
    margin-right: 64px; }
    @media all and (max-width: 349px) {
      footer .links {
        width: 100%;
        order: 0;
        padding-top: 0;
        margin-right: 0;
        justify-content: center;
        padding: 0; } }
    @media all and (min-width: 350px) and (max-width: 500px) {
      footer .links {
        width: 100%;
        order: 0;
        padding-top: 0;
        margin-right: 0;
        justify-content: center;
        padding: 0; } }
    @media all and (min-width: 501px) and (max-width: 690px) {
      footer .links {
        width: 100%;
        order: 0;
        padding-top: 0;
        margin-right: 0;
        justify-content: center;
        padding: 0; } }
    @media all and (min-width: 691px) and (max-width: 768px) {
      footer .links {
        width: 100%;
        order: 0;
        padding-top: 0;
        margin-right: 0;
        justify-content: center;
        padding: 0; } }
    @media all and (min-width: 769px) and (max-width: 1024px) {
      footer .links {
        width: 100%;
        order: 0;
        padding-top: 0;
        margin-right: 0;
        justify-content: center;
        padding: 0; } }
    @media all and (min-width: 1025px) and (max-width: 1389px) {
      footer .links {
        padding: 25px 10px;
        margin-right: 25px; } }
    @media all and (min-width: 1390px) and (max-width: 1499px) {
      footer .links {
        padding: 25px 10px;
        margin-right: 25px; } }
    @media all and (min-width: 1500px) and (max-width: 1800px) {
      footer .links {
        padding: 25px 10px;
        margin-right: 45px; } }
    @media all and (min-width: 1921px) and (max-width: 2200px) {
      footer .links {
        padding: 15px 10px; } }
    @media all and (min-width: 2201px) and (max-width: 2379px) {
      footer .links {
        padding: 25px 10px; } }
    @media all and (min-width: 2380px) and (max-width: 2880px) {
      footer .links {
        padding: 50px 30px; } }
    footer .links a {
      max-width: 62px;
      max-height: 50px;
      margin: 0 7px 0 7px; }
      @media all and (max-width: 349px) {
        footer .links a {
          max-width: inherit;
          max-height: inherit;
          width: 15%;
          margin: 0 15px; } }
      @media all and (min-width: 350px) and (max-width: 500px) {
        footer .links a {
          max-width: inherit;
          max-height: inherit;
          width: 15%;
          margin: 0 15px; } }
      @media all and (min-width: 501px) and (max-width: 690px) {
        footer .links a {
          max-width: inherit;
          max-height: inherit;
          width: 12%;
          margin: 0 15px; } }
      @media all and (min-width: 691px) and (max-width: 768px) {
        footer .links a {
          max-width: inherit;
          max-height: inherit;
          width: 9%;
          margin: 0 15px; } }
      @media all and (min-width: 769px) and (max-width: 1024px) {
        footer .links a {
          max-width: inherit;
          max-height: inherit;
          width: 8%;
          margin: 0 15px; } }
      @media all and (min-width: 1025px) and (max-width: 1389px) {
        footer .links a {
          max-width: 72px;
          margin: 0 10px; } }
      @media all and (min-width: 1390px) and (max-width: 1499px) {
        footer .links a {
          max-width: 72px;
          margin: 0 10px; } }
      @media all and (min-width: 1500px) and (max-width: 1800px) {
        footer .links a {
          max-width: 72px;
          margin: 0 10px; } }
      @media all and (min-width: 1921px) and (max-width: 2200px) {
        footer .links a {
          max-width: 72px;
          margin: 0 10px; } }
      @media all and (min-width: 2201px) and (max-width: 2379px) {
        footer .links a {
          max-width: 72px;
          margin: 0 15px; } }
      @media all and (min-width: 2380px) and (max-width: 2880px) {
        footer .links a {
          max-width: 82px;
          margin: 0 20px; } }
    footer .links img {
      width: 100%;
      height: 100%;
      object-fit: cover; }

/*# sourceMappingURL=final.css.map */
