@font-face {
    font-family: "PTSansRegular";
    src: url("../fonts/PTSansRegular/PTSansRegular.eot");
    src: url("../fonts/PTSansRegular/PTSansRegular.eot?#iefix")format("embedded-opentype"), url("../fonts/PTSansRegular/PTSansRegular.woff") format("woff"), url("../fonts/PTSansRegular/PTSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PTSansItalic";
    src: url("../fonts/PTSansItalic/PTSansItalic.eot");
    src: url("../fonts/PTSansItalic/PTSansItalic.eot?#iefix")format("embedded-opentype"), url("../fonts/PTSansItalic/PTSansItalic.woff") format("woff"), url("../fonts/PTSansItalic/PTSansItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PTSansBold";
    src: url("../fonts/PTSansBold/PTSansBold.eot");
    src: url("../fonts/PTSansBold/PTSansBold.eot?#iefix")format("embedded-opentype"), url("../fonts/PTSansBold/PTSansBold.woff") format("woff"), url("../fonts/PTSansBold/PTSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

section {
    .top-btns {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 400px;
        margin: 29% 0 102px 10%;
        @media all and (min-device-width: 1921px) and (max-device-width: 1931px) and (min-width: 1921px) and (max-width: 1931px) {
            margin-top: 29%;
        }
        @media all and (min-device-width: 1932px) and (max-device-width: 2028px) and (min-width: 1932px) and (max-width: 2028px) {
            margin-top: 29.5%;
        }
        @media all and (min-device-width: 2029px) and (max-device-width: 2129px) and (min-width: 2029px) and (max-width: 2129px) {
            margin-top: 30%;
        }
        @media all and (min-device-width: 2130px) and (max-device-width: 2279px) and (min-width: 2130px) and (max-width: 2279px) {
            margin-top: 30.5%;
            margin-left: 10%;
        }
        @media all and (min-device-width: 2280px) and (max-device-width: 2429px) and (min-width: 2280px) and (max-width: 2429px) {
            margin-top: 31.5%;
            margin-left: 11%;
        }
        @media all and (min-device-width: 2430px) and (max-device-width: 2499px) and (min-width: 2430px) and (max-width: 2499px) {
            margin-top: 32%;
            margin-left: 11%;
        }
        @media all and (min-device-width: 2500px) and (max-device-width: 2639px) and (min-width: 2500px) and (max-width: 2639px) {
            margin-top: 32.5%;
            margin-left: 12%;
        }
        @media all and (min-device-width: 2640px) and (max-device-width: 2740px) and (min-width: 2640px) and (max-width: 2740px) {
            margin-top: 33%;
            margin-left: 12%;
        }
        @media all and (min-device-width: 2741px) and (max-device-width: 2800px) and (min-width: 2741px) and (max-width: 2800px) {
            margin-top: 33.5%;
            margin-left: 12%;
        }
        @media all and (min-device-width: 2801px) and (max-device-width: 2880px) and (min-width: 2801px) and (max-width: 2880px) {
            margin-top: 34%;
            margin-left: 12%;
        }

        @media all and (max-width: 640px) and (orientation: portrait){
            margin: 35% 0 0 5% !important;
        }

        /* 
        @media all and (max-width: 349px){
            width: 75%;
            margin: 45% auto 0 auto !important;
        }
        @media all and (min-width: 350px) and (max-width: 500px){
            width: 75%;
            margin: 45% auto 0 auto !important;
        }
        @media all and (min-width: 501px) and (max-width: 690px){
            width: 75%;
            margin: 28% auto 0 auto !important;
        }
        @media all and (min-width: 691px) and (max-width: 768px){
            width: 75%;
            margin: 28% auto 0 auto !important;
        } */
        @media all and (max-width: 1024px){
            display: none;
        }
        @media all and (min-width: 769px) and (max-width: 1024px){
            width: 28%;
            margin: 26% 0 0 5%;
        }
        @media all and (min-width: 1025px) and (max-width: 1159px){
            width: 285px;
            margin: 25% 0 102px 7%;
        }
        @media all and (min-width: 1160px) and (max-width: 1299px){
            width: 285px;
            margin: 27% 0 102px 8%;
        }
        @media all and (min-width: 1300px) and (max-width: 1499px){
            width: 285px;
            margin: 29% 0 102px 9%;
        }
        @media all and (min-width: 1500px) and (max-width: 1649px){
            width: 400px;
            margin: 25% 0 102px 7%;
        }
        @media all and (min-width: 1650px) and (max-width: 1749px){
            width: 400px;
            margin: 27% 0 102px 8%;
        }
        @media all and (min-width: 1750px) and (max-width: 1919px){
            width: 400px;
            margin: 28% 0 102px 8%;
        }

        button{
            background-color: transparent;
            border: none;
            outline: 0px solid;
            @media all and (max-width: 349px){
                margin: 0 2%;
            }
            @media all and (min-width: 350px) and (max-width: 500px){
                margin: 0 2%;
            }
            img{
                outline: 0px solid;
                margin: 0 16px 0 16px;
                @media all and (max-width: 349px){
                    width: 70%;
                    height: 70%;
                    margin: 0 1% 0 1%;
                }
                @media all and (min-width: 350px) and (max-width: 500px){
                    width: 70%;
                    height: 70%;
                    margin: 0 1% 0 1%;
                }
                @media all and (min-width: 501px) and (max-width: 690px){
                    width: 50%;
                    height: 85%;
                    margin: 0 1% 0 1%;
                }
                @media all and (min-width: 691px) and (max-width: 768px){
                    width: 50%;
                    height: 85%;
                    margin: 0 1% 0 1%;
                }
                @media all and (min-width: 769px) and (max-width: 1024px){
                    width: 85%;
                    height: 85%;
                    margin: 0 1% 0 1%;
                }
                @media all and (min-width: 1025px) and (max-width: 1499px){
                    width: 75px;
                    height: 71px;
                    margin: 0 11px 0 11px;
                }
                @media all and (min-width: 1500px) and (max-width: 1919px){
                    margin: 0 11px 0 11px;
                }
            }
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    @media all and (max-width: 349px){
        margin: 55% 0 2% 0;
        padding: 10% 0;
    }
    @media all and (min-width: 350px) and (max-width: 540px){
        margin: 75% 0 2% 0;
    }
    @media all and (min-width: 541px) and (max-width: 690px){
        margin: 65% 0 2% 0;
    }
    @media all and (min-width: 691px) and (max-width: 768px){
        margin: 55% 0 2% 0;
        padding: 10% 0 5% 0;
    }
    @media all and (min-width: 769px) and (max-width: 1024px){
        margin: 55% 0 5% 0;
        padding: 10% 0 5% 0;
    }
    .text {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0 335px 0 228px;
        @media all and (min-device-width: 1921px) and (max-device-width: 1991px) and (min-width: 1921px) and (max-width: 1991px) {
            /* margin-right: 18%; */
        }
        @media all and (min-device-width: 1992px) and (max-device-width: 2130px) and (min-width: 1992px) and (max-width: 2130px) {
            /* margin-right: 16.5%; */
        }
        @media all and (min-device-width: 2131px) and (max-device-width: 2330px) and (min-width: 2131px) and (max-width: 2330px) {
            /* margin-right: 15.5%; */
        }
        @media all and (min-device-width: 2331px) and (max-device-width: 2530px) and (min-width: 2331px) and (max-width: 2530px) {
            /* margin-right: 14.5% */
        }
        @media all and (min-device-width: 2531px) and (max-device-width: 2730px) and (min-width: 2531px) and (max-width: 2730px) {
           /*  margin-right: 12%; */
        }
        @media all and (min-device-width: 2731px) and (max-device-width: 2880px) and (min-width: 2731px) and (max-width: 2880px) {
           /*  margin-right: 12%; */
        }

        @media all and (max-width: 349px){
            padding: 0 2%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 30px;
            min-height: 976px;
        }
        @media all and (min-width: 350px) and (max-width: 500px){
            padding: 0 2%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 30px;
            min-height: 962px;
        }
        @media all and (min-width: 501px) and (max-width: 690px){
            padding: 0 2%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-height: 785px;
        }
        @media all and (min-width: 691px) and (max-width: 768px){
            padding: 0 5%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            min-height: 850px;
        }
        @media all and (min-width: 769px) and (max-width: 1024px){
            padding: 0 7%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-height: 1240px;
        }
        @media all and (min-width: 1025px) and (max-width: 1345px){
            padding: 0 230px 0 160px;
        }
        @media all and (min-width: 1346px) and (max-width: 1499px){
            padding: 0 200px 0 130px;
        }
        @media all and (min-width: 1500px) and (max-width: 1919px){
            padding: 0 17.5% 0 12%;
        }

        img.boss {
            margin: 94px 55px 0 0;

            @media all and (max-width: 349px){
                width: 50%;
                height: 50%;
                margin: 20px auto;
            }
            @media all and (min-width: 350px) and (max-width: 500px){
                width: 50%;
                height: 50%;
                margin: 20px auto;
            }
            @media all and (min-width: 501px) and (max-width: 690px){
                width: 27.5%;
                height: 30%;
                margin: 20px auto;
            }
            @media all and (min-width: 691px) and (max-width: 768px){
                width: 27.5%;
                height: 30%;
                margin: 20px auto;
            }
            @media all and (min-width: 769px) and (max-width: 1024px){
                width: 27.5%;
                height: 30%;
                margin: 20px auto;
            }
            @media all and (min-width: 1025px) and (max-width: 1499px){
                min-width: 212px;
                width: 212px;
                height: 230px;
                margin: 67px 39px 0 0;
            }
            @media all and (min-width: 1500px) and (max-width: 1919px){
                width: 22.5%;
                height: 24.5%;
                margin: 7% 4% 0 0;
            }
        }
        div.back-text {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            align-content: space-between;
            background: url(../imgs/567.png);
            background-size: cover;
            min-width: 1004px;
            width: 1004px;
            height: 936px;
            padding: 36px 29px 36px 30px;
            font-size: 24px;
            text-indent: 35px;

            @media all and (max-width: 349px){
                min-width: 300px;
                max-width: 349px;
                width: 100%;
                height: auto;
                padding: 20px 15px;
                text-align: center;
            }
            @media all and (min-width: 350px) and (max-width: 500px){
                min-width: 350px;
                max-width: 500px;
                width: 100%;
                height: auto;
                padding: 30px 15px;
                text-align: center;
                background: url(../imgs/567_long.png);
                background-size: 100% 100%;
            }
            @media all and (min-width: 501px) and (max-width: 690px){
                background: url(../imgs/567_long.png);
                min-width: 500px;
                width: 100%;
                height: auto;
                padding: 30px 30px;
                text-align: center;
                background-size: 100% 100%;
            }
            @media all and (min-width: 691px) and (max-width: 768px){
                min-width: 500px;
                width: 100%;
                height: auto;
                padding: 35px 30px;
                text-align: center;
                background-size: 100% 100%;
            }
            @media all and (max-width: 768px){
                font-size: 12px;
                text-indent: 25px;
            }
            @media all and (min-width: 769px) and (max-width: 1024px){
                min-width: 500px;
                width: 100%;
                padding: 30px 30px;
                text-align: center;
                background-size: 100% 100%;
                font-size: 18px;
            }
            /* @media all and (min-device-width: 350px) and (max-device-width: 700px) and (orientation: portrait){
                height: 1380px;
                align-items: center;
                background-size: 100% 100%;
            }
            @media all and (min-device-width: 350px) and (max-device-width: 700px) and (orientation: landscape){
                height: 900px;
                align-items: center;
                background-size: 100% 100%;
            }
            @media all and (min-device-width: 701px) and (max-device-width: 1024px) and (orientation: portrait){
                height: 1200px;
                align-items: center;
                background-size: 100% 100%;
            }
            @media all and (min-device-width: 701px) and (max-device-width: 1024px) and (orientation: landscape){
                height: 1000px;
                align-items: center;
                background-size: 100% 100%;
            } */
            @media all and (min-width: 1025px) and (max-width: 1345px){
                min-width: 713px;
                max-height: 665px;
                padding: 14px 21px;
                text-align: center;
                background-size: 100% 100%;
                font-size: 16px;
                text-indent: 20px;
            }
            @media all and (min-width: 1346px) and (max-width: 1499px){
                min-width: 713px;
                max-width: 100%;
                max-height: 750px;
                padding: 21px 21px;
                text-align: center;
                background-size: 100% 100%;
                font-size: 18px;
                text-indent: 25px;
            }
            @media all and (min-width: 1500px) and (max-width: 1919px){
                min-width: 1004px;
                height: 936px;
            }
            
 /*            div.txt {
                width: 945px;
                padding: 36px 29px 30px 4px;
                margin: 0;
                font-size: 24px;
                text-indent: 35px;

                @media all and (max-width: 349px){
                    min-width: 300px;
                    max-width: 349px;
                    width: 100%;
                    height: auto;
                    padding: 5px 10px !important;
                    text-align: center;
                }
                @media all and (min-width: 350px) and (max-width: 500px){
                    min-width: 350px;
                    max-width: 500px;
                    width: 100%;
                    height: auto;
                    padding: 5px 10px !important;
                    text-align: center;
                }
                @media all and (max-width: 899px){
                    width: 100%;
                    padding: 0;
                    font-size: 12px;
                    text-indent: 25px;
                }
                @media all and (min-width: 900px) and (max-width: 1024px){
                    width: 100%;
                    padding: 0;
                    font-size: 18px;
                    text-indent: 25px;
                }
                @media all and (min-width: 1025px) and (max-width: 1345px){
                    width: 100%;
                    height: 665px;
                    padding: 10px 0;
                    font-size: 16px;
                    text-indent: 20px;
                }
                @media all and (min-width: 1025px) and (max-width: 1700px) and (-ms-high-contrast: active), (-ms-high-contrast: none){
                    font-size: 17px;
                }
                @media all and (min-width: 1346px) and (max-width: 1499px){
                    width: 100%;
                    font-size: 18px;
                    text-indent: 25px;
                    padding-top: 10px;
                } */


                h1 {
                    width: 100%;
                    object-fit: contain;
                    font-family: PTSans;
                    text-indent: 0 !important;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    text-align: center;
                    color: #000000;
                    padding-bottom: 14px;
                }
                p {
                    
                    object-fit: contain;
                    font-family: PTSans;
                    
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: unset;
                    letter-spacing: normal;
                    text-align: justify;
                    color: #000000;
                    width: 945px;

                    @media all and (min-width: 1346px) and (max-width: 1499px){
                        width: 94%;
                    }
                    @media all and (min-width: 1025px) and (max-width: 1345px){
                        width: 660px;
                    }
                    /* @media all and (min-width: 769px) and (max-width: 1024px){
                        width: 100%;
                    }
                    @media all and (min-width: 691px) and (max-width: 768px){
                        width: 100%;
                    } */
                    @media all and (max-width: 1024px){
                        width: 100%;
                    }
                    @media all and (max-width: 500px){
                        margin-bottom: 10px;
                    }
                }
                h2 {
                    width: 100%;
                    object-fit: contain;
                    font-family: PTSans;                    
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    text-align: justify;
                    color: #000000;
                    padding-top: 44px;
                    padding-bottom: 34px;

                    @media all and (max-width: 500px){
                        padding: 20px 0 14px 0;
                    }
                    @media all and (min-width: 1025px) and (max-width: 1345px){
                        padding: 24px 0 14px 0;
                    }
                    @media all and (min-width: 1346px) and (max-width: 1499px){
                        padding: 34px 0 24px 0;
                    }
                }
                h3 {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    object-fit: contain;
                    font-family: PTSans;                    
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    text-align: justify;
                    color: #000000;
                    padding-top: 14px;
                    padding-bottom: 14px;
                    text-indent: 0;

                    @media all and (max-width: 1345px){
                        max-width: 660px;
                    }

                    #left{
                        text-align: left; 
                    }
                    #right{
                        text-align: right;
                        text-indent: 0;
                        margin-right: 180px;

                        @media all and (max-width: 1024px){
                            margin-right: 80px;
                        }
                        @media all and (max-width: 540px){
                            margin-right: 40px;
                        }
                    }
                }
            /* } */


            img {
                @media all and (max-width: 349px){
                    margin: 0 auto;
                    width: 100%;
                    height: 100%;
                }
                @media all and (min-width: 350px) and (max-width: 500px){
                    margin: 0 auto;
                    width: 100%;
                    height: 100%;
                }
                @media all and (min-width: 501px) and (max-width: 690px){
                    margin: 0 auto;
                    width: 100%;
                    height: 100%;
                }
                @media all and (min-width: 691px) and (max-width: 768px){
                    margin: 0 auto;
                    width: 100%;
                    height: 100%;
                }
                @media all and (min-width: 769px) and (max-width: 1024px){
                    margin: 0 auto;
                    width: 100%;
                    height: 100%;
                }
                @media all and (min-width: 1025px) and (max-width: 1499px){
                    margin: 0 auto;
                    width: 671px;
                    height: 620px;
                }
            }
        }
    }

    .text-about {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left: 248px;
        
        @media all and (min-device-width: 1921px) and (max-device-width: 1991px) and (min-width: 1921px) and (max-width: 1991px) {
            
        }
        @media all and (min-device-width: 1992px) and (max-device-width: 2130px) and (min-width: 1992px) and (max-width: 2130px) {
            
        }
        @media all and (min-device-width: 2131px) and (max-device-width: 2330px) and (min-width: 2131px) and (max-width: 2330px) {
            
        }
        @media all and (min-device-width: 2331px) and (max-device-width: 2530px) and (min-width: 2331px) and (max-width: 2530px) {

        }
        @media all and (min-device-width: 2531px) and (max-device-width: 2730px) and (min-width: 2531px) and (max-width: 2730px) {

        }
        @media all and (min-device-width: 2731px) and (max-device-width: 2880px) and (min-width: 2731px) and (max-width: 2880px) {

        }

        @media all and (max-width: 349px){
            padding: 0 2%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0;
            margin-bottom: 30px;
        }
        @media all and (min-width: 350px) and (max-width: 500px){
            padding: 0 2%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0;
            margin-bottom: 30px;
        }
        @media all and (min-width: 501px) and (max-width: 690px){
            padding: 0 2%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0;
        }
        @media all and (min-width: 691px) and (max-width: 768px){
            padding: 0 5%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0;
        }
        @media all and (min-width: 769px) and (max-width: 1024px){
            padding: 0 7%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0;
        }
        @media all and (min-width: 1025px) and (max-width: 1345px){
            padding: 0;
            margin-left: 176px;
        }
        @media all and (min-width: 1346px) and (max-width: 1499px){
            padding: 0;
            margin-left: 176px;
        }
        @media all and (min-width: 1500px) and (max-width: 1919px){
            padding: 0;
        }


        .back-text-about {
            margin-top: 65px;
            background: url(../imgs/567.png);
            width: 1004px;
            min-width: 1004px;
            height: 936px;
            display: flex;
            justify-content: center;

            @media all and (max-width: 349px){
                min-width: 300px;
                max-width: 349px;
                width: 100%;
                height: 400px;
                padding: 20px 10px;
                text-align: center;
            }
            @media all and (min-width: 350px) and (max-width: 500px){
                min-width: 350px;
                max-width: 500px;
                width: 100%;
                height: 400px;
                padding: 30px 10px;
                text-align: center;
                background-size: 100% 100%;
            }
            @media all and (min-width: 501px) and (max-width: 690px){
                min-width: 500px;
                width: 100%;
                height: 500px;
                padding: 30px 30px;
                text-align: center;
                background-size: 100% 100%;
            }
            @media all and (min-width: 691px) and (max-width: 768px){
                min-width: 500px;
                width: 100%;
                height: 500px;
                max-height: 768px;
                padding: 35px 30px;
                text-align: center;
                background-size: 100% 100%;
            }
            @media all and (min-width: 769px) and (max-width: 1024px){
                min-width: 500px;
                width: 100%;
                height: 600px;
                padding: 50px 30px;
                text-align: center;
                background-size: 100% 100%;
            }
            @media all and (min-width: 1025px) and (max-width: 1345px){
                min-width: 713px;
                width: 768px;
                height: 635px;
                padding: 14px 21px;
                text-align: center;
                background-size: 100% 100%;
            }
            @media all and (min-width: 1346px) and (max-width: 1499px){
                min-width: 713px;
                max-width: 768px;
                height: 590px;
                padding: 21px 21px;
                text-align: center;
                background-size: 100% 100%;
            }
            @media all and (min-width: 1500px) and (max-width: 1919px){
                min-width: 1004px;
                height: 936px;
                padding: 0;
            }

            .about {
                width: 945px; //padding: 36px 29px 30px 4px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                align-content: center;
                p {
                    object-fit: contain;
                    font-family: PTSans;
                    font-size: 44px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    text-align: justify;
                    color: #000000;
                    padding-bottom: 14px;
                    width: 100%;
                    text-align: center;

                    @media all and (max-width: 1280px){
                        font-size: 38px;
                    }
                    @media all and (max-width: 920px){
                        font-size: 32px;
                    }
                    @media all and (max-width: 767px){
                        font-size: 26px;
                    }
                    @media all and (max-width: 500px){
                        font-size: 24px;
                    }
                }
            }
        }
    }

    .main-btns {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left: 248px;
        margin-top: 68px;
        max-width: 100%;

        @media all and (max-width: 349px){
            max-width: 349px;
            width: 100%;
            margin: 25px auto 0 auto;
            flex-direction: column;
        }
        @media all and (min-width: 350px) and (max-width: 540px){
            max-width: 500px;
            width: 100%;
            margin: 30px auto 0 auto;
            flex-direction: column;

        }
        @media all and (min-width: 541px) and (max-width: 690px){
            max-width: 690px;
            width: 100%;
            margin: 70px auto 0 auto;
        }
        @media all and (min-width: 691px) and (max-width: 768px){
           margin: 70px auto 0 auto;
        }
        @media all and (min-width: 769px) and (max-width: 1024px){
           margin: 70px auto 0 auto;
        }
        @media all and (min-width: 1025px) and (max-width: 1499px){
           margin: 48px 0 0 176px;     
        }
        @media all and (min-width: 1500px) and (max-width: 1919px){

        }

        button {
            background-color: transparent;
            border: none;
            margin: 0 20px 0 20px;
            outline: 0px solid;
            outline-color: transparent;

            /* @media all and (max-width: 349px){
                width: 60%;
                margin: 2% auto;
            }
            @media all and (min-width: 350px) and (max-width: 500px){
                width: 60%;
                margin: 2% auto;
            }
            @media all and (min-width: 501px) and (max-width: 690px){
                width: 230px;
                margin: 0 auto;
            }
            @media all and (min-width: 691px) and (max-width: 768px){
                width: 230px;
                margin: 0 auto;
            }
            @media all and (min-width: 769px) and (max-width: 1024px){
                width: 230px;
                margin: 0 auto;
            }
            @media all and (min-width: 1025px) and (max-width: 1499px){
                margin: 0 14px 0 14px
            }
            @media all and (min-width: 1500px) and (max-width: 1919px){
                
            } */

            img {
                filter: opacity(100%);
            }
            img:hover {
                filter: opacity(90%);
            }
        }

        button:focus {
            outline: 0px solid;
            outline-color: transparent;
        }
        button:hover{
            cursor: pointer;
        }

        button.contacts, button.recourse{
            img{

                @media all and (max-width: 349px){
                    width: 168px;
                    height: 90px;
                }
                @media all and (min-width: 350px) and (max-width: 540px){
                    width: 212px;
                    height: 113px;
                }
                @media all and (min-width: 541px) and (max-width: 690px){
                    width: 130px;
                    height: 75px;
                }
                @media all and (min-width: 691px) and (max-width: 768px){
                    width: 174px;
                    height: 93px;
                }
                @media all and (min-width: 769px) and (max-width: 1024px){
                    width: 174px;
                    height: 93px;
                }
                @media all and (min-width: 1025px) and (max-width: 1499px){
                    width: 210px;
                    height: 110px;
                }
                @media all and (min-width: 1500px) and (max-width: 1919px){
                    
                }
            }
        }

        button.competition{
            img{
                @media all and (max-width: 349px){
                    width: 168px;
                    height: 128px;
                }
                @media all and (min-width: 350px) and (max-width: 540px){
                    width: 212px;
                    height: 161px;
                }
                @media all and (min-width: 541px) and (max-width: 690px){
                    width: 160px;
                    height: 117px;
                }
                @media all and (min-width: 691px) and (max-width: 768px){
                    width: 196px;
                    height: 149px;
                }
                @media all and (min-width: 769px) and (max-width: 1024px){
                    width: 196px;
                    height: 149px;
                }
                @media all and (min-width: 1025px) and (max-width: 1499px){
                    width: 220px;
                    height: 170px;
                }
                @media all and (min-width: 1500px) and (max-width: 1919px){
                    
                }
            }
        }
    }
}

/* COMPETITION PAGE */

@mixin keyframes($animationName){
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

.main-container{
    width: 100%;
    height: 1080px;
    background: url(../imgs/background.png);
    background-position-y: bottom;
    text-align: center;

    .table{
        width: 628px;
        height: 386px;
        /* background: url(../imgs/table.png);
        background-size: 100% 100%; */
        z-index: 1000;
    }

    .logo{
        position: absolute;
        top: -320px;
        left: 752px;
        width: 416px;
        height: 305px;
        background: url(../imgs/competition_logo.png);
        background-size: 100% 100%;
    }

    #start{
        position: absolute;
        top: 800px;
        left: 530px;
        opacity: 0;
        h1{
            color: #1BA801;
            font-size: 152px;
            text-transform: uppercase;
        }
    }

    #question{
        position: absolute;
        top: 430px;
        left: 734px;
        h2{
            color: #EB200E;
            font-size: 128px;
        }
    }

    #but{
        opacity: 0;
        position: absolute;
        top: 430px;
        left: 851px;
        h3{
            color: #AC1600;
            font-size: 96px;
        }
    }

    #ufr{
        position: absolute;
        font-weight: bold;
        top: 600px;
        left: 600px;
        opacity: 0;
        p{
        color: #2A1F1A;
        font-size: 68px;                
        /* animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 10s both;
        @include keyframes(text-focus-in){
        0% {
            filter: blur(12px);
            opacity: 0;
        }
        100% {
            filter: blur(0px);
            opacity: 1;
        } */
        }
    }

    #money{
        position: absolute;
        top: -400px;
        left: 40px;
        background: url(../imgs/money.png);
        background-repeat: no-repeat;
        background-size: 100% auto;
    }
    #time{
        position: absolute;
        top: -400px;
        right: 40px;
        background: url(../imgs/time.png);
        background-repeat: no-repeat;
        background-size: 100% auto;
    }
    #team{
        position: absolute;
        top: -400px;
        left: 638px;
        background: url(../imgs/team.png);
        background-repeat: no-repeat;
        background-size: 100% auto;
    }

}