footer {
    background: url(../imgs/footer_3x.png);
    height: 227px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
    @media all and (max-width: 349px){
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        align-content: flex-end;
        background-position-y: bottom;
        background-size: 100% 70%;
    }
    @media all and (min-width: 350px) and (max-width: 500px){
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        align-content: flex-end;
        background-position-y: bottom;
        background-size: 100% 70%;
    }
    @media all and (min-width: 501px) and (max-width: 690px){
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        align-content: flex-end;
        background-position-y: bottom;
        background-size: 100% 70%;
    }
    @media all and (min-width: 691px) and (max-width: 768px){
        height: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        align-content: flex-end;
        background-position-y: bottom;
        background-size: 100% 70%;
    }
    @media all and (min-width: 769px) and (max-width: 1024px){
        height: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        align-content: flex-end;
        background-position-y: bottom;
        background-size: 100% 75%;
    }
    @media all and (min-width: 1025px) and (max-width: 1389px){
        height: 200px;
        background-size: 100% auto;
    }
    @media all and (min-width: 1390px) and (max-width: 1499px){
        background-size: 100% auto;
    }
    @media all and (min-width: 1500px) and (max-width: 1919px){
        background-size: 100% auto;
    }
    @media all and (min-width: 1921px) and (max-width: 2200px){
        height: 250px;
        background-size: 100% auto;
    }
    @media all and (min-width: 2201px) and (max-width: 2379px){
        height: 280px;
        background-size: 100% auto;
    }
    @media all and (min-width: 2380px) and (max-width: 2880px){
        height: 330px;
        background-size: 100% auto;
    }
    

    .copy{        
        text-transform: uppercase;
        color: #fff;
        font-size: 28px;
        padding: 23px 10px;


        
        @media all and (max-width: 349px){
            order: 2;
            width: 100%;
            text-align: center;
            padding: 10px 0;
            font-size: 20px;
        }
        @media all and (min-width: 350px) and (max-width: 500px){
            order: 2;
            width: 100%;
            text-align: center;
            padding: 10px 0;
            font-size: 20px;
        }
        @media all and (min-width: 501px) and (max-width: 690px){
            order: 2;
            width: 100%;
            text-align: center;
            padding: 20px 0;
            font-size: 20px;
        }
        @media all and (min-width: 691px) and (max-width: 768px){
            order: 2;
            width: 100%;
            text-align: center;
            padding: 30px 0;
            font-size: 24px;
        }
        @media all and (min-width: 769px) and (max-width: 1024px){
            order: 2;
            width: 100%;
            text-align: center;
            padding: 30px 0;
            font-size: 24px;
        }
        @media all and (min-width: 1025px) and (max-width: 1389px){
            padding: 30px 10px;
        }
        @media all and (min-width: 1390px) and (max-width: 1499px){
            padding: 30px 10px;
        }
        @media all and (min-width: 1500px) and (max-width: 1800px){
            padding: 30px 10px;
        }
        @media all and (min-width: 1921px) and (max-width: 2200px){
            padding: 30px 20px;
        }
        @media all and (min-width: 2201px) and (max-width: 2379px){
            padding: 30px 30px;
        }
        @media all and (min-width: 2380px) and (max-width: 2880px){
            padding: 50px 30px;
        }

        p{
            font-family: PTSans;
        }
    }

    .links {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: baseline;
        padding: 15px 10px;
        margin-right: 64px;

        @media all and (max-width: 349px){
            width: 100%;
            order: 0;
            padding-top: 0;
            margin-right: 0;
            justify-content: center;
            padding: 0;
        }
        @media all and (min-width: 350px) and (max-width: 500px){
            width: 100%;
            order: 0;
            padding-top: 0;
            margin-right: 0;
            justify-content: center;
            padding: 0;
        }
        @media all and (min-width: 501px) and (max-width: 690px){
            width: 100%;
            order: 0;
            padding-top: 0;
            margin-right: 0;
            justify-content: center;
            padding: 0;
        }
        @media all and (min-width: 691px) and (max-width: 768px){
            width: 100%;
            order: 0;
            padding-top: 0;
            margin-right: 0;
            justify-content: center;
            padding: 0;
        }
        @media all and (min-width: 769px) and (max-width: 1024px){
            width: 100%;
            order: 0;
            padding-top: 0;
            margin-right: 0;
            justify-content: center;
            padding: 0;
        }
        @media all and (min-width: 1025px) and (max-width: 1389px){
            padding: 25px 10px;
            margin-right: 25px;
        }
        @media all and (min-width: 1390px) and (max-width: 1499px){
            padding: 25px 10px;
            margin-right: 25px;
        }
        @media all and (min-width: 1500px) and (max-width: 1800px){
            padding: 25px 10px;
            margin-right: 45px;
        }
        @media all and (min-width: 1921px) and (max-width: 2200px){
            padding: 15px 10px;
        }
        @media all and (min-width: 2201px) and (max-width: 2379px){
            padding: 25px 10px;
        }
        @media all and (min-width: 2380px) and (max-width: 2880px) {
            padding: 50px 30px;
        }

        a{
            max-width: 62px;
            max-height: 50px;
            margin: 0 7px 0 7px;

            @media all and (max-width: 349px){
                max-width: inherit;
                max-height: inherit;
                width: 15%;
                margin: 0 15px;
            }
            @media all and (min-width: 350px) and (max-width: 500px){
                max-width: inherit;
                max-height: inherit;
                width: 15%;
                margin: 0 15px;
            }
            @media all and (min-width: 501px) and (max-width: 690px){
                max-width: inherit;
                max-height: inherit;
                width: 12%;
                margin: 0 15px;
            }
            @media all and (min-width: 691px) and (max-width: 768px){
                max-width: inherit;
                max-height: inherit;
                width: 9%;
                margin: 0 15px;
            }
            @media all and (min-width: 769px) and (max-width: 1024px){
                max-width: inherit;
                max-height: inherit;
                width: 8%;
                margin: 0 15px;
            }
            @media all and (min-width: 1025px) and (max-width: 1389px){
                max-width: 72px;
                margin: 0 10px;
            }
            @media all and (min-width: 1390px) and (max-width: 1499px){
                max-width: 72px;
                margin: 0 10px;
            }
            @media all and (min-width: 1500px) and (max-width: 1800px){
                max-width: 72px;
                margin: 0 10px;
            }
            @media all and (min-width: 1921px) and (max-width: 2200px){
                max-width: 72px;
                margin: 0 10px;
            }
            @media all and (min-width: 2201px) and (max-width: 2379px){
                max-width: 72px;
                margin: 0 15px;
            }
            @media all and (min-width: 2380px) and (max-width: 2880px) {
                max-width: 82px;
                margin: 0 20px;
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
