body {
    z-index: 1;
    background: url(../imgs/background_1.png);
    background-size: 100% auto;

    @media
    only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 1300px),
    only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 1300px),
    only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 1300px),
    only screen and (        min-device-pixel-ratio: 2)      and (min-width: 1300px),
    only screen and (                min-resolution: 192dpi) and (min-width: 1300px),
    only screen and (                min-resolution: 2dppx)  and (min-width: 1300px) { 
        min-width: auto !important;
        background-position-x: center !important;
    }

    @media all and (max-device-width: 1921px) and (min-device-width: 1920px) {
        min-width: 1900px;
    }
    @media all and (max-width: 1921px) and (min-width: 1920px) {
        min-width: 1900px;
    }
    @media all and (min-device-width: 1920px) and (max-device-width: 2880px) {
        background-size: cover;
        background-position-x: center;
    }
    @media all and (min-width: 1920px) and (max-width: 2880px) {
        background-size: cover;
        background-position-x: center;
    }
    @media all and (min-device-width: 1920px) and (max-device-width: 2880px) {
        background-size: cover;
        background-position-x: center;
    }
    @media all and (min-width: 1920px) and (max-width: 2880px) {
        background-size: cover;
        background-position-x: center;
    }

    @media all and (max-width: 349px){
        background-size: 100% auto;
    }
    @media all and (min-width: 350px) and (max-width: 500px){
        background-size: 100% auto;
    }
    @media all and (min-width: 501px) and (max-width: 690px){
        background-size: 100% auto;        
    }
    @media all and (max-width: 769px) and (orientation:landscape){
        background-size: 100% auto;
    }
    @media all and (min-width: 691px) and (max-width: 768px){
        background-size: 100% auto;
    }
    @media all and (min-width: 769px) and (max-width: 1024px){
        background-size: 100% auto;
    }
    @media all and (min-width: 1025px) and (max-width: 1499px){
        background-size: cover;
    }
    @media all and (min-width: 1500px) and (max-width: 1919px){
        background-size: cover
    }
    

    @media all and (max-width: 1024px){
        background: url(../imgs/background_long21.png);
        background-size: 100% auto;
    }

    noscript{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 10px 10px;
        background: #FFC400;
        z-index: 1000;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: space-around;
        text-align: center;

        @media all and (max-width: 1499px){
            
        }
        @media all and (max-width: 1024px){
            padding: 15px 30px;
        }
        @media all and (max-width: 700px){
            padding: 20px 15px;
        }

        h1{
            text-transform: uppercase;
            font-size: 22px;

            @media all and (max-width: 1499px){
                font-size: 20px;
            }
            @media all and (max-width: 1024px){
                font-size: 18px;
                padding-bottom: 10px;
            }
            @media all and (max-width: 700px){
                font-size: 20px;
                padding-bottom: 10px;
            }
        }

        p{
            font-size: 18px;

            @media all and (max-width: 1499px){
                font-size: 16px;
            }
            @media all and (max-width: 1024px){
                font-size: 14px;
            }
            @media all and (max-width: 700px){
                font-size: 16px;
            }
        }
    }



    #preloader {
        position: fixed; left: 0; top: 0; z-index: 999; width: 100%; height: 100%; overflow: visible; background: #333 url('http://files.mimoymima.com/images/loading.gif') no-repeat center center; 
    }

    .content-wrapper {
        min-height: calc(100vh - 227px);
        @media all and (max-width: 349px){
            min-height: calc(100vh - 110px);
            min-width: 100%;
            width: 100%;
        }
        @media all and (min-width: 350px) and (max-width: 500px){
            min-height: calc(100vh - 110px);
            min-width: 100%;
            width: 100%;
        }
        @media all and (min-width: 501px) and (max-width: 690px){
            min-height: calc(100vh - 110px);
            min-width: 100%;
            width: 100%;
        }
        @media all and (min-width: 691px) and (max-width: 768px){
            min-height: calc(100vh - 110px);
            min-width: 100%;
            width: 100%;
        }
        @media all and (min-width: 769px) and (max-width: 1024px){
            min-width: 100%;
            width: 100%;
        }
        @media all and (min-width: 1025px) and (max-width: 1499px){
            min-width: 100%;
            width: 100%;
        }
        @media all and (min-width: 1500px) and (max-width: 1919px){
            min-width: 100%;
            width: 100%;
        }

        header {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
            align-content: center;
            img.logo {
                margin: 61px 0 0 64px;

                @media all and (max-width: 349px){
                    width: 104px;
                    height: 86px;
                    margin: 20px 0 0 40px;
                }
                @media all and (min-width: 350px) and (max-width: 390px){
                    width: 134px;
                    height: 96px;
                    margin: 20px 0 0 40px;
                }
                @media all and (min-width: 391px) and (max-width: 420px){
                    width: 134px;
                    height: 96px;
                    margin: 20px 0 0 60px;
                }
                @media all and (min-width: 421px) and (max-width: 450px){
                    width: 134px;
                    height: 96px;
                    margin: 20px 0 0 70px;
                }
                @media all and (min-width: 451px) and (max-width: 500px){
                    width: 134px;
                    height: 96px;
                    margin: 20px 0 0 80px;
                }
                @media all and (min-width: 501px) and (max-width: 540px){
                    width: 140px;
                    height: 100px;
                    margin: 25px 0 0 30px;
                }
                @media all and (min-width: 541px) and (max-width: 590px){
                    width: 150px;
                    height: 105px;
                    margin: 25px 0 0 40px;
                }
                @media all and (min-width: 591px) and (max-width: 690px){
                    width: 200px;
                    height: 146px;
                    margin: 25px 0 0 60px;
                }
                @media all and (min-width: 691px) and (max-width: 768px){
                    width: 228px;
                    height: 167px;
                    margin: 45px 0 0 80px;
                }
                @media all and (min-width: 769px) and (max-width: 830px){
                    width: 228px;
                    height: 167px;
                    margin: 45px 0 0 100px;
                }
                @media all and (min-width: 831px) and (max-width: 930px){
                    width: 228px;
                    height: 167px;
                    margin: 45px 0 0 130px;
                }
               @media all and (min-width: 931px) and (max-width: 1024px){
                    width: 250px;
                    height: 177px;
                    margin: 60px 0 0 170px;
                }
                @media all and (min-width: 1025px) and (max-width: 1499px){
                    width: 180px;
                    height: 133px;
                    margin: 43px 0 0 45px;
                }
                @media all and (min-width: 1500px) and (max-width: 1919px){
                   margin: 55px 0 0 64px;
                }
            }
            img.header-text {
                margin: 52px 65px 0 0;

                @media all and (max-width: 349px){
                    width: 250px;
                    height: 55px;
                    margin: -15px 0 0 40px;
                }
                @media all and (min-width: 350px) and (max-width: 390px){
                    width: 280px;
                    height: 60px;
                    margin: -20px 0 0 60px;
                }
                @media all and (min-width: 391px) and (max-width: 420px){
                    width: 280px;
                    height: 60px;
                    margin: -25px 0 0 90px;
                }
                @media all and (min-width: 421px) and (max-width: 450px){
                    width: 280px;
                    height: 60px;
                    margin: -25px 0 0 100px;
                }
                @media all and (min-width: 451px) and (max-width: 500px){
                    width: 280px;
                    height: 60px;
                    margin: -25px 0 0 120px;
                }
                @media all and (min-width: 501px) and (max-width: 540px){
                    width: 420px;
                    height: 77px;
                    margin: -30px 0 0 50px;
                }
                @media all and (min-width: 541px) and (max-width: 590px){
                    width: 470px;
                    height: 85px;
                    margin: -30px 0 0 60px;
                }
                @media all and (min-width: 591px) and (max-width: 640px){
                    width: 510px;
                    height: 90px;
                    margin: -30px 0 0 60px;
                }
                @media all and (min-width: 641px) and (max-width: 690px){
                    width: 540px;
                    height: 100px;
                    margin: -30px 0 0 90px;
                }
                @media all and (min-width: 691px) and (max-width: 768px){
                    width: 560px;
                    height: 110px;
                    margin: -40px 0 0 130px;
                }
                @media all and (min-width: 769px) and (max-width: 830px){
                    width: 560px;
                    height: 110px;
                    margin: -40px 0 0 150px;
                }
                @media all and (min-width: 831px) and (max-width: 930px){
                    width: 560px;
                    height: 110px;
                    margin: -40px 0 0 180px;
                }
                @media all and (min-width: 931px) and (max-width: 1024px){
                    width: 600px;
                    height: 112px;
                    margin: -40px 0 0 230px;
                }
                @media all and (min-width: 1025px) and (max-width: 1499px){
                    width: 393px;
                    height: 77px;
                    margin: 37px 46px 0 0;
                }
                @media all and (min-width: 1500px) and (max-width: 1919px){
                    margin: 52px 65px 0 0;
                }
            }
        }
    }
}